<div class="p-4">
  <div class="grid grid-cols-12 gap-2">
    <app-widget-card
      class="col-span-3"
      title="Transactions"
    >
      <app-transaction-form />
    </app-widget-card>
    <transactions-column-chart class="col-span-8" />
    <div class="col-span-1 border-1"></div>
    <div class="col-span-1 border-1"></div>
    <div class="col-span-1 border-1"></div>
    <div class="col-span-1 border-1"></div>
    <div class="col-span-1 border-1"></div>
  </div>

  <div class="grid grid-cols-12 gap-2">
    <app-widget-card
      class="col-span-6"
      title="Transactions"
    >
      <app-transaction-list />
    </app-widget-card>
    <div class="col-span-1 border-1"></div>
    <div class="col-span-1 border-1"></div>
    <div class="col-span-1 border-1"></div>
    <div class="col-span-1 border-1"></div>
    <div class="col-span-1 border-1"></div>
    <div class="col-span-1 border-1"></div>
  </div>
</div>
